* {
    font-family: sans-serif;
}

#game_board {
    border: 1px black solid;
    width: 666px;
    height: 666px;
    position: relative;
}

#game_board__river {
    border-bottom: 1px black solid;
    background-image: url("https://m.media-amazon.com/images/I/71M-uBunLLL.__AC_SY300_SX300_QL70_FMwebp_.jpg");
    width: 666px;
    height: 111px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    color: ghostwhite;
    font-weight: bold;
    user-select: none;
}

#game_board__heal {
    border-top: 1px black solid;
    user-select: none;
    background-image: url("https://s3.amazonaws.com/images.wpr.com/flag-pages/svg/my.svg");
    width: 666px;
    height: 111px;
    position: absolute;
    top: 555px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    color: ghostwhite;
    font-weight: bold;
}

.creet {
    position: absolute;
    border: 2px pink solid;
    cursor: grab;
}

.main__ctrlpnl {
    position: absolute;
    top: 10px;
    left: 1000px;
}

.main {
    position: relative;
}